<div class="col-lg-6">
    <form name="createContactForm" role="form" ng-submit="createContactForm.$valid && ctrl.createContact()">
        <div class="form-group">
            <label for="firstName">First Name:</label>
            <input type="text" class="form-control" required="true" ng-model="contact.firstName" id="firstName" name="firstName">
            <span role="alert" class="error" ng-show="createContactForm.firstName.$dirty && createContactForm.firstName.$error.required"> firstName is Required</span>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input type="text" class="form-control" required="true" ng-model="contact.lastName" id="lastName" name="lastName">
            <span role="alert" class="error" ng-show="createContactForm.lastName.$dirty && createContactForm.lastName.$error.required"> lastName is Required</span>
        </div>
        <div class="form-group">
            <label for="phone">Phome:</label>
            <input type="number" class="form-control" required="true" ng-model="contact.phone" id="phone" name="phone">
            <span role="alert" class="error" ng-show="createContactForm.phone.$dirty && createContactForm.phone.$error.required"> phone No is Required</span>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" required="true" ng-model="contact.email" id="email" name="email">
            <span role="alert" class="error" ng-show="createContactForm.email.$dirty && createContactForm.email.$error.email"> Email is Invalid</span>
            <span role="alert" class="error" ng-show="createContactForm.email.$dirty && createContactForm.email.$error.required"> Emailis Required</span>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>