<div class="col-lg-6">
    <form role="form" ng-submit="ctrl.createContact()">
        <div class="form-group">
            <label for="firstName">First Name:</label>
            <input type="text" class="form-control" ng-model="contact.firstName" id="firstName">
        </div>
        <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input type="text" class="form-control" ng-model="contact.lastName" id="lastName">
        </div>
        <div class="form-group">
            <label for="email">Phome:</label>
            <input type="number" class="form-control" ng-model="contact.phone" id="email">
        </div>
        <div class="form-group">
            <label for="pwd">Email:</label>
            <input type="email" class="form-control" ng-model="contact.email" id="pwd">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>